<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Students Department Selection</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <h1>Student Registration Form</h1>
    <form action="/student/create" method="POST" class="ui form">
      <label for="name">Name:</label>
      <input type="text" id="name" name="Name" required/><br /><br />
      <label for="rollno">Roll No:</label>
      <input type="text" id="rollno" name="Rollno" required/><br /><br />
      <label for="dept">Department:</label>
      <select id="dept" name="Elective" required>
        <option value="Surgical Anatomy, Radiological Anatomy">Surgical Anatomy, Radiological Anatomy</option>
        <option value="Computerized Spirometry Interpretation">
          Computerized Spirometry Interpretation
        </option>
        <option value="ECG- Recording & Reading">
         ECG- Recording & Reading
        </option>
        <option value="Laboratory Information Management System">
          Laboratory Information Management System
        </option>
        <option value="Full automation with QC">Full automation with QC</option>
        <option value="Histopathological Examination">
          Histopathological Examination
        </option>
        <option value="Clinical Pathology Lab">
          Clinical Pathology Lab
        </option>
        <option value="Haematology Lab">Haematology Lab</option>
        <option value="Blood Banking, Screening, Blood Collection & Storage">Blood Banking, Screening, Blood Collection & Storage</option>
        <option value="Serology, Virology, Bacteriology Labs">
          Serology, Virology, Bacteriology Labs
        </option>
        <option value="Pharmacovigilance">
          Pharmacovigilance
        </option>
        <option value="Prescription Audit">
          Prescription Audit
        </option>
        <option value="Research Methodology Basics">Research Methodology Basics</option>
        <option value="Immunization Program">
          Immunization Program
        </option>
        <option value="Hospital infection control and Biomedical waste management">
          Hospital infection control and Biomedical waste management
        </option>
        <option value="Victim and accused examination in sexual assault cases">
          Victim and accused examination in sexual assault cases
        </option>
        <option value="Autopsy">Autopsy</option>
        <option value="New Born Screening for inborn error of metabolism">New Born Screening for inborn error of metabolism</option>
        </select
      ><br /><br />
      <div class="col d-flex justify-content-end mt-4">
        <button class="btn text-white bg-primary-custom rounded-3">
          Submit
        </button>
      </div>
    </form>
    <table>
      <thead>
        <tr>
          <th>Department</th>
          <th>Available Seats</th>
        </tr>
      </thead>
      <%electives.forEach((blog)=> {%>
      <tbody id="availableSeatsTableBody">
        <tr data-dept="NCD">
          <td><%=blog.Elective%></td>
          <td><%=blog.Seats%></td>
        </tr>
      </tbody>
      <% })%>
    </table>
  </body>
</html>
