<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Students Department Selection</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <h1>Student Registration Form</h1>
    <form action="/student/create" method="POST" class="ui form">
      <label for="name">Name:</label>
      <input type="text" id="name" name="Name" required/><br /><br />
      <label for="rollno">Roll No:</label>
      <input type="text" id="rollno" name="Rollno" required/><br /><br />
      <label for="dept">Department:</label>
      <select id="dept" name="Elective" required>
        <option value="NCD Clinic">NCD Clinic</option>
        <option value="ICMU - Management Of Medical Emergencies">
            ICMU - Management Of Medical Emergencies
        </option>
        <option value="Essential New Born Care">
         Essential New Born Care
        </option>
        <option value="Common fungal skin infections">
          Laboratory Information Management System
        </option>
        <option value="Anthropometry, growth chart plotting">Blood Banking - Screening, Blood collection and storage</option>
        <option value="Common Bacterial and Viral skin infections">
          Common Bacterial and Viral skin infections
        </option>
        <option value="Deaddiction">
          Deaddiction
        </option>
        <option value="General Psychiatry">General Psychiatry</option>
        <option value="Wound Management - Contaminated and non Contaminated Wounds">
          Serology, Virology, Bacteriology Labs
        </option>
        <option value="Long Bone fracture Management -immobilization and splinting">
          Pharmacovigilance
        </option>
        <option value="Spine fracture Managemnt">
          Prescription Audit
        </option>
        <option value="Interpretion of Chest X rays">Interpretion of Chest X rays</option>
        <option value="Anaesthetic Management of High risk cases">
          Immunization Program
        </option>
        <option value="Cathlab">
          Hospital infection control and Biomedical waste management
        </option>
        <option value="Obstructive airway disease">
          Victim and accused examination in sexual assault cases
        </option>
        <option value="Autopsy">Face and Neck Trauma</option>
        <option value="Maternal and Child Health">New Born Screening for inborn error of metabolism</option>
<option value="Autopsy">High risk Obstetrics</option>
<option value="Autopsy">Gynec oncoloy</option>
<option value="Autopsy">Code-blue Emergency Triage Management</option>
<option value="Autopsy">Adult and Pediatric CPR</option>
<option value="Autopsy">Toxicology Managment of poisoning and bites</option>
<option value="Autopsy">Operation theatre protocol - anesthetic fitness, patient preparation, Informed Consent, preoperative instructions etc.</option>
<option value="Autopsy">Multimodality Imaging Techniques (Xray, Contrast, ultrasonogram, CT Scan, MRI Scan)</option>
        </select
      ><br /><br />
      <div class="col d-flex justify-content-end mt-4">
        <button class="btn text-white bg-primary-custom rounded-3">
          Submit
        </button>
      </div>
    </form>
    <table>
      <thead>
        <tr>
          <th>Department</th>
          <th>Available Seats</th>
        </tr>
      </thead>
      <%electives.forEach((blog)=> {%>
      <tbody id="availableSeatsTableBody">
        <tr data-dept="NCD">
          <td><%=blog.Elective%></td>
          <td><%=blog.Seats%></td>
        </tr>
      </tbody>
      <% })%>
    </table>
  </body>
</html>
